extends layout

block content
  .jumbotron
    h1 TT语音
    p.lead TT语音 致力于为全球用户提供最好的移动互联网内容服务。
    p
      a.btn.btn-primary.btn-large(href='http://www.ttalk.cn/index.jsp',target = '_blank') 了解更多 &raquo;