doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    // Title and other stuffs
    title 系统登录
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    // Stylesheets
    link(href='/style/bootstrap.css', rel='stylesheet')
    link(rel='stylesheet', href='/style/font-awesome.css')
    link(href='/style/style.css', rel='stylesheet')
    link(href='/style/bootstrap-responsive.css', rel='stylesheet')
    // HTML5 Support for IE
    //if lt IE 9
      script(src='js/html5shim.js')
    // Favicon
  body
    // Form area
    .admin-form
      .container-fluid
        .row-fluid
          .span12
            // Widget starts
            .widget
              // Widget head
              .widget-head
                i.icon-lock
                |  登录
              .widget-content
                .padd
                  // Login form
                  form.form-horizontal
                    // Email
                    .control-group
                      label.control-label(for='userName') 登录名称
                      .controls
                        input#userName(type='text', placeholder='userName',required="")
                    // Password
                    .control-group
                      label.control-label(for='passWord') 密码
                      .controls
                        input#passWord(type='password', placeholder='Password',required="")
                    // Remember me checkbox and sign in button
                    .control-group
                      .controls
                        label.checkbox
                          input#checkid(type='checkbox')
                          |  记住帐号
                        br
                        button.btn(type='reset') 重置
                        | &nbsp;&nbsp;
                        | &nbsp;&nbsp;
                        | &nbsp;&nbsp;
                        button#loginBt.btn(type = "button",onclick='login()') 确定
  
                .widget-foot
                  // Footer goes here
    // JS
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/javascripts/jquery.cookie.js')

    script.
        $(document).ready(function () {
             var loginName= $.cookie('webchartname'); 
            if(loginName)
            {
                $('#userName').val(loginName);
            }
        });

         function login()
         {
            //-每次随机生成机密密钥
            var encryptkey= $.cookie('loginEncryptKey'); 
            if(!encryptkey)
            {
               //提示 cookie 过期 请刷新页面
               alert('登录过期，请刷新页面!');
            }
            else
            {
                 var username = $('#userName').val();
                 var password = $('#passWord').val();

             
                 $.ajax({
                            url: "/loginAction",
                            data:{ username: username,password:password},
                            type: "post",
                            dataType: "text",
                            success: function (data) {
                                var result = eval('(' + data + ')');
                                if(result == 0)
                                {
                                     if($("#checkid").is(':checked'))
                                     {
                                        $.cookie('webchartname', username, { expires: 30 }); 
                                     }

                                    window.location.href='/IndexPage';
                                }
                                else 
                                {
                                    alert('登录信息错误');
                                }
                            }
                        });
            }
         }
